In [ ]:
from tqdm import tqdm
import re

import pandas as pd
import numpy as np
import string
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

import nltk
from nltk.corpus import stopwords
from sklearn.preprocessing import normalize
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
nltk.download('punkt') 

from bs4 import BeautifulSoup

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
# load dataset
# collab drive mount
from google.colab import drive
drive.mount('/content/drive')

# loading previos feature extraction dataset
data = pd.read_csv("/content/drive/MyDrive/collab_data/Quora/advance_feature_extraction_train(2).csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data.head(1)

   id  qid1  qid2  ... abs_len_diff mean_len  longest_substr_ratio
0   0     1     2  ...          2.0     13.0              0.965517

[1 rows x 28 columns]

In [ ]:
# pre processdataset (not stemming or lemitization required)

STOP_WORDS = stopwords.words("english")

# pre process text data 
def preprocess(sentence):
  # lowercase
  sentence = str(sentence).lower()
  # remove html tags
  cleantext = BeautifulSoup(sentence, "lxml").text
  # remove urls
  cleantext = re.sub(r"http\S+", "", cleantext)
  # remove special characters
  cleantext = re.sub(r'[?|.|!|*|@|#|\|,|)|(|\|/|′|]', r'', cleantext)
  # expanding contractions
  cleantext = cleantext.replace(",000,000", "m").replace(",000", "k").replace("′", "'").replace("’", "'")
  cleantext = cleantext.replace("won't", "will not").replace("cannot", "can not").replace("can't", "can not")
  cleantext = cleantext.replace("n't", " not").replace("what's", "what is").replace("it's", "it is")
  cleantext = cleantext.replace("'ve", " have").replace("i'm", "i am").replace("'re", " are")
  cleantext = cleantext.replace("he's", "he is").replace("she's", "she is").replace("'s", " own")
  cleantext = cleantext.replace("%", " percent ").replace("₹", " rupee ").replace("$", " dollar ")
  cleantext = cleantext.replace("€", " euro ").replace("'ll", " will").replace("&", "and")
  cleantext = re.sub(r"([0-9]+)000000", r"\1m", cleantext)
  cleantext = re.sub(r"([0-9]+)000", r"\1k", cleantext)


  # romove stopwords 
  
  words = word_tokenize(cleantext) 
  sentence_words = [word for word in words if word not in STOP_WORDS]
  final_sentence = " ".join(sentence_words)


  # stemming (not required for glove vector)
  '''
  #porter = PorterStemmer()
  words = word_tokenize(cleantext) 
  word_set = set()
  word_list = []
  for w in words:
    word_set.add(porter.stem(w))
  for x in word_set:
    word_list.append(x)

  str1 = " "
  final_str = str1.join(word_list)
  '''



  return cleantext

In [ ]:
#################### Preprocess TEST ####################
print(preprocess("hi <h3> hello world's most precious 1000 island? 23$ "))

hi  hello world own most precious 1k island 23 dollar

In [ ]:
# if any null values are there , fill with blank string
nan_rows = data[data.isnull().any(1)]
print(nan_rows)
data = data.fillna('')
nan_rows = data[data.isnull().any(1)]
print(nan_rows)

            id    qid1    qid2  ... abs_len_diff mean_len  longest_substr_ratio
105780  105780  174363  174364  ...          0.0      0.0              0.965517
201841  201841  303951  174364  ...          0.0      0.0              0.965517
363362  363362  493340  493341  ...          0.0      0.0              0.965517

[3 rows x 28 columns]
Empty DataFrame
Columns: [id, qid1, qid2, question1, question2, is_duplicate, freq_qid1, freq_qid2, lenq1, lenq2, q1_n_words, q2_n_words, word_Common, word_Total, word_share, freq_q1+q2, freq_q1-q2, cwc_min, cwc_max, csc_min, csc_max, ctc_min, ctc_max, first_word_eq, last_word_eq, abs_len_diff, mean_len, longest_substr_ratio]
Index: []

In [ ]:
################## Preprocess ##################

Q1 = data['question1'].values.tolist()
Q2 = data['question2'].values.tolist()

clean_Q1 = []
clean_Q2 = []

for i in tqdm(range(0,len(Q1))):
  Question1 = Q1[i]
  Question2 = Q2[i]
  
  
  clean_Q1.append(preprocess(Question1))
  clean_Q2.append(preprocess(Question2))



# adding them into the dataset 

data['Clean_Q1'] = clean_Q1
data['Clean_Q2'] = clean_Q2

#df = pd.DataFrame(list(zip(clean_Q1, clean_Q2)), columns =['Clean_Q1', 'clean_Q2'])

100%|██████████| 404290/404290 [06:48<00:00, 990.90it/s]

In [ ]:
# choose eqaul portion of positive and negative data and merege them together

positive_df = data[data['is_duplicate'] == 1 ].sample(n=1200, random_state=0)
negative_df = data[data['is_duplicate'] == 0 ].sample(n=1200, random_state=0)
final_df = pd.concat([positive_df, negative_df])

In [ ]:
final_df.head(1)

          id  ...                                           Clean_Q2
35115  35115  ...  what is a good minor that will compliment a co...

[1 rows x 30 columns]

In [ ]:
print("Total dataframe rows and coulmns: ",final_df.shape)
print("Total positive data: ",final_df[final_df['is_duplicate']== 1].shape)
print("Total negative data: ",final_df[final_df['is_duplicate']== 0].shape)

Total dataframe rows and coulmns:  (2400, 30)
Total positive data:  (1200, 30)
Total negative data:  (1200, 30)

In [ ]:
final_df.drop(final_df.index[0], inplace=True)
final_df.head(1)

            id  ...                                        Clean_Q2
327832  327832  ...  what is the best way to materialize on an idea

[1 rows x 30 columns]

In [ ]:
y_ = final_df['is_duplicate']
final_df.drop(['question1'], axis=1, inplace=True)
final_df.drop(['question2'], axis=1, inplace=True)

In [ ]:
final_df.head(1)

            id  ...                                        Clean_Q2
327832  327832  ...  what is the best way to materialize on an idea

[1 rows x 28 columns]

In [ ]:
y_.head(1)

327832    1
Name: is_duplicate, dtype: int64

In [ ]:
# train test split (80:20)
X_train, X_test, y_train, y_test = train_test_split(final_df, y_, test_size=0.20, random_state=0)

In [ ]:
X_train.head(1)

            id  ...                           Clean_Q2
152314  152314  ...  what do you know about bangladesh

[1 rows x 28 columns]

In [ ]:
X_test.head(1)

            id  ...                      Clean_Q2
361950  361950  ...  how do i stop using whatsapp

[1 rows x 28 columns]

In [ ]:
X_train_Q1 = list(X_train['Clean_Q1'])
X_train_Q2 = list(X_train['Clean_Q2'])

X_test_Q1 = list(X_test['Clean_Q1'])
X_test_Q2 = list(X_test['Clean_Q2'])

'\n# X_train_Q1 tfidf \ntfidf = TfidfVectorizer(lowercase=False, ngram_range=(1, 1))\ntfidf.fit_transform(X_train_Q1)\n# dict key:word and value:tf-idf score\nX_train_Q1_word_tfidf = dict(zip(tfidf.get_feature_names(), tfidf.idf_))\n\n\n# X_train_Q2 tfidf \ntfidf = TfidfVectorizer(lowercase=False, ngram_range=(1, 1))\ntfidf.fit_transform(X_train_Q2)\n# dict key:word and value:tf-idf score\nX_train_Q2_word_tfidf = dict(zip(tfidf.get_feature_names(), tfidf.idf_))\n\n\n# X_test_Q1 tfidf \ntfidf = TfidfVectorizer(lowercase=False, ngram_range=(1, 1))\ntfidf.fit_transform(X_test_Q1)\n# dict key:word and value:tf-idf score\nX_test_Q1_word_tfidf = dict(zip(tfidf.get_feature_names(), tfidf.idf_))\n\n\n# X_test_Q2 tfidf \ntfidf = TfidfVectorizer(lowercase=False, ngram_range=(1, 1))\ntfidf.fit_transform(X_test_Q2)\n# dict key:word and value:tf-idf score\nX_test_Q2_word_tfidf = dict(zip(tfidf.get_feature_names(), tfidf.idf_))\n\n\n'

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer


# merge texts
questions_X_train = X_train_Q1 + X_train_Q2
questions_X_test = X_test_Q1 + X_test_Q2

# Calculate tfidf value for each word

tfidf = TfidfVectorizer(lowercase=False )

tfidf.fit_transform(questions_X_train)
# dict key:word and value:tf-idf score
word2tfidf_X_train = dict(zip(tfidf.get_feature_names(), tfidf.idf_))

tfidf.fit_transform(questions_X_test)
# dict key:word and value:tf-idf score
word2tfidf_X_test = dict(zip(tfidf.get_feature_names(), tfidf.idf_))

In [ ]:
# pre trained glove vector from spacy
!pip install spacy
import spacy

Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (2.2.4)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (7.4.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.5)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.41.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.5)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.1)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.8.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (54.0.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.1.3)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.19.5)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy) (3.7.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (3.7.4.3)

In [ ]:
# en_vectors_web_lg, which includes over 1 million unique vectors.

def tfidf_glove(sentence, dataset_type):

  nlp = spacy.load('en_core_web_sm')
  # word document spacy 
  doc = nlp(sentence) 
  #dimensions of vectors 
  mean_vector = np.zeros([len(doc), len(doc[0].vector)])

  for word in doc:
    # word2vec
    vec1 = word.vector
    # fetch df score
    try:
      if dataset_type == 'X_train':
        tfidf = word2tfidf_X_train[str(word)]
      if dataset_type == 'X_test':
        tfidf = word2tfidf_X_test[str(word)]
    except:
      tfidf = 0
    # compute final vec
    mean_vector = mean_vector + vec1 * tfidf

  #mean
  mean_vector = mean_vector.mean(axis=0)

  return mean_vector

In [ ]:
X_train_Q1 = list(X_train['Clean_Q1'])
X_train_Q2 = list(X_train['Clean_Q2'])

X_test_Q1 = list(X_test['Clean_Q1'])
X_test_Q2 = list(X_test['Clean_Q1'])

In [ ]:
# calculating tfidf glove vector and storing them into list
X_train_Q1_GV = []
X_train_Q2_GV = []

X_test_Q1_GV = []
X_test_Q2_GV = []

for sentence in tqdm(X_train_Q1):
  X_train_Q1_GV.append(tfidf_glove(sentence, dataset_type='X_train'))

for sentence in tqdm(X_train_Q2):
  X_train_Q2_GV.append(tfidf_glove(sentence, dataset_type='X_train'))

for sentence in tqdm(X_test_Q1):
  X_test_Q1_GV.append(tfidf_glove(sentence, dataset_type='X_test'))

for sentence in tqdm(X_test_Q2):
  X_test_Q2_GV.append(tfidf_glove(sentence, dataset_type='X_test'))

100%|██████████| 1919/1919 [21:17<00:00,  1.50it/s]
100%|██████████| 1919/1919 [21:17<00:00,  1.50it/s]
100%|██████████| 480/480 [05:20<00:00,  1.50it/s]
100%|██████████| 480/480 [05:22<00:00,  1.49it/s]

In [ ]:
X_train.head(1)

            id  ...                           Clean_Q2
152314  152314  ...  what do you know about bangladesh

[1 rows x 28 columns]

In [ ]:
# craeting new dataframes for storing glove vector array into df
df_train_q1 = pd.DataFrame()
df_train_q2 = pd.DataFrame()

df_test_q1 = pd.DataFrame()
df_test_q2 = pd.DataFrame()

In [ ]:
# converting glove vector array into dataframe , ignore_index = True will add data rows wise for particular questions
df_train_q1 = df_train_q1.append(list(X_train_Q1_GV), ignore_index = True) 
df_train_q2 = df_train_q2.append(list(X_train_Q2_GV), ignore_index = True) 

df_test_q1 = df_test_q1.append(list(X_test_Q1_GV), ignore_index = True) 
df_test_q2 = df_test_q2.append(list(X_test_Q2_GV), ignore_index = True)

In [ ]:
df_test_q1.head(1)

         0         1         2   ...         93         94        95
0 -2.918367 -3.684602 -1.603498  ...  68.357243 -14.138919  14.47285

[1 rows x 96 columns]

In [ ]:
df_train_q1.head(1)

         0         1         2   ...         93         94        95
0 -2.918367 -3.684602 -1.603498  ...  68.357243 -14.138919  14.47285

[1 rows x 96 columns]

In [ ]:
# From X_train and X_test we need to extract id 
# We need to inject id into glove vector dataframes ( df_train_q1, df_train_q2, df_test_q1, df_test_q2)
# we need to merge df_train_q1, df_train_q2 according to id 
# we need to merge df_test_q1, df_test_q2 according to id 
# we need to merge X_train with train_
# we need to merge X_test with test_
# final 4 dataframes ready for ml model

X_train_id = X_train['id'].tolist()
X_test_id  = X_test['id'].tolist()

df_train_q1['id'] = X_train_id
df_train_q2['id'] = X_train_id

df_test_q1['id'] = X_test_id
df_test_q2['id'] = X_test_id

train_ = df_train_q1.merge(df_train_q2, on='id', how='left')
test_ = df_test_q1.merge(df_test_q2, on='id', how='left')

# adding id into train_ and test_ for another merge with X_train and X_test
train_['id'] = X_train_id
test_['id'] = X_test_id


# merge with main dataframe 
X_train = X_train.merge(train_, on='id', how='left')
X_test = X_test.merge(test_,on='id', how='left')

In [ ]:
# saving the dataset into new dataset
X_train.to_csv("/content/drive/MyDrive/collab_data/Quora/X_train.csv", index=False)
X_test.to_csv("/content/drive/MyDrive/collab_data/Quora/X_test.csv", index=False)

y_train.to_csv("/content/drive/MyDrive/collab_data/Quora/y_train.csv", index=False)
y_test.to_csv("/content/drive/MyDrive/collab_data/Quora/y_test.csv", index=False)

print("X_train, X_test, y_train, y_test dataframe avilable for ml moldel !")

In [ ]:
####################### test ####################

d1 = pd.DataFrame()
d2 = pd.DataFrame()

l1 = [[1,12,23],[90,99,98]]
l2= [[10,10,20],[90,90,90]]
idd = [1,2]
d1 = d1.append(l1, ignore_index = True)
d2 = d2.append(l2, ignore_index = True)

d1['id'] = idd
d2['id'] = idd

In [ ]:
d1.head(2)

In [ ]:
d2.head(2)

In [ ]:
d3 = pd.concat([d1,d2], ignore_index=True)

In [ ]:
d4 = d1.merge(d2, on='id', how='left')

In [ ]:
d4.head()